.idea/
build/
xcuserdata/
.DS_Store
.Trashes
*.swp
core/data/target
core/drivers/target
core/.gradle
core/drivers/.gradle
core/shared/.gradle
core/shared/common/.gradle
core/shared/petstore/.gradle
core/shared/petstore/data/.gradle
core/shared/petstore/domain/.gradle
